*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 13px;
  color: #333;
}
#container{
  width: 800px;
  height: 500px;
  /* background-color: #f1f1f1; */
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 0 30px grey;


}
.bg{
  background-image:url('../start.jpg');
  background-size:cover;
  -webkit-filter:blur(10px);
  filter:blur(10px);
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}
#container>header{
  width: 100%;
  height: 60px;
  /* background-color: skyblue; */
}
#container #info{
  width: 100%;
  height: 360px;
}
#container footer{

  width: 100%;
  height: 80px;
  /* background-color: lightblue; */
}
#info .left_info{
  float: left;
  width: 40%;
  height: 100%;
  /* background-color: lightgray; */
}
#info .right_list{
  float: right;
  display: inline-block;
  width: 60%;
  height: 100%;
  /* background-color: pink; */
  overflow: hidden;
}
.right_list ol li{
  padding:5px 20px;
  border-bottom: 1px dashed grey;
  list-style: none;
  overflow: hidden;
}
.right_list ol li:hover{
  font-size: 14px;
  cursor: pointer
  /* background-color: #f1f1f1; */

}
/* .list_name{
  display: inline-block
  font-size: 1.5em;
  line-height: 40px;
} */
.fl {
  float: left;
}
.fr {
  float: right;
}
#list_name{
  font-size: 2.3em;
  font-weight: 300;
  color: #333;
  padding-left: 20px;

}

.left_info #song_image{

  text-align: center;
  height: 300px;
}
.left_info #song_image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 60px;
}
#curr_music{
  padding: 10px;
  font-weight: 300;
  font-size: 2em;
}
#musician{
  font-weight: 300;
  font-size: 1.6em;
}
#audio{
  width: 100%;
  height: 50px;
  opacity: 0.5;
}
/* 一组歌曲 */
#group_music{
  position: absolute;
  top: 50px;
  right: 10%;
}
#group_music li{
  float: left;
  margin-right: 20px;
  list-style: none;
}
#group_music a{
  color: #666;
  font-size: 1.2em;
  text-decoration: none;
}